{#
/**
 * @file
 * Default theme implementation from enquiry webform submissions.
 *
 * Available variables:
 * - retailer_contact_information: Retailer contact information.
 * - personal_data: Submitted personal data as array (label => value).
 * - address_data: Submitted address data as array (label => value).

 * @see template_preprocess_enquiry_discounted_webform_submission()
 *
 * @ingroup themeable
 */
#}
{% if retailer_contact_information %}
  <p>
  {% for line in retailer_contact_information %}
    {{ line }}<br/>
  {% endfor %}
  </p>
{% endif %}
{% if personal_data %}
  <h3>Persönliche Daten</h3>
  <p>
  {% for label, value in personal_data %}
    {{ label }}: {{ value }}{% if not loop.last %}<br/>{% endif %}
  {% endfor %}
  </p>
{% endif %}
{% if address_data %}
  <h3>Adresse</h3>
  <p>
    {% for value in address_data %}
      {{ value }}{% if not loop.last %}<br/>{% endif %}
    {% endfor %}
  </p>
{% endif %}
{% if message %}
  <h3>Nachricht</h3>
  <p>{{ message }}</p>
{% endif %}
{% if selected_trailer %}
  <h3>Ihr gewählter Anhänger</h3>
  {{ selected_trailer }}
{% endif %}
